@import url("reset.css");

body, p, ol, ul, td {
  font-family: verdana, helvetica, sans-serif;
  font-size:   16px;
  line-height: 18px;
}

#content {
	width: 900px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: solid white 1px;
}

#user_nav {
	float: right;
}

h1 {
	width: 50%;
	margin-top: 30px;
	font-size: xx-large;
	line-height: 150%;
}

h2 {
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: x-large;
	line-height: 120%;
}

p {
	line-height: 1.7em;
	margin-bottom: 20px;
}

ul {
	margin-left: 30px;
}

#menu {
	float: right;
}

#nav_menu li {
	display: inline;
	padding: 20px;
}

#essentials {
	clear: both;
	margin-top: 30px;
	margin-left: 100px;
	margin-bottom: 60px;
	text-align: right;
}

#event_description {
	margin-top: 120px;
}

.notice, .alert {
	float: right;
	clear: both;
}

.field {
	margin-bottom: 14px;
}
/* **** Original stylesheet ****
body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
*/